.firecrawl/
.omx/
.claude/
.claudian/
.runtime/
.local/
.obsidian/workspace.json
.obsidian/app.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/*
!.obsidian/plugins/obsidian-linter/
/.obsidian/plugins/obsidian-linter/*
!.obsidian/plugins/obsidian-linter/data.json
!.obsidian/plugins/templater-obsidian/
/.obsidian/plugins/templater-obsidian/*
!.obsidian/plugins/templater-obsidian/data.json
Thumbs.db
.DS_Store
